body	{
  background:url("https://unsplash.it/1800/1000/?random") top right no-repeat;
  background-attachment:fixed;
  background-size: cover;
 }

/*ul that wraps all the snippet items*/
 .browseul {
   padding: 0;
 }

/*div that wraps one whole snippet*/
 .totalsnippet {
   height: 200px !important;
   margin: 10px;
   background-color: blue;
 }

/*div that wraps the code body of the snippet*/
 .snippetitemwrapper {
   background-color: red;
   border: 5px solid red;
   height: 100%;
   padding: 0;
 }

 .likebutton {
   margin: 0;
   padding: 5px 3px;
 }

#saveerrors {
  background: rgba(0,0,0,0.5);
  width: 100%;
  padding: 3px 3px 3px 3px;
  color: white;
  border-radius: 5px;
  margin: 0;
}

#loginform {
  background: rgba(0,0,0,0.5);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  color: white;
}

.submitbutton {
  margin: 10px 0 10px 0;
}

.notsubmitbutton {
  margin: 10px 0 10px 0;
}

.logintitle {
  font-weight: bold;
  font-size: 1.5em;
}

.loginerrors {

}

.inputstring {
  font-family: courier;
  color: orange;
}

.outputstring {
  font-family: courier;
  color: #0f0;
}

.error {
  font-family: courier;
  color: red;
}

#interpreter_output {
  background-color: #222;
  height: 500px;
  border: 2px solid #9CF;
  margin: 0;
  padding: 10px;
}

.js {
  max-height: 50px;
  padding: 0;
}

/*#interpreter_area {
  background-color: #cc0;
  min-height: 300px;
  color: black;
  border-radius: 5px;
}*/

#interpreter_textarea {
  visibility: hidden;
}

.motherofall {
  /*background-color: red;*/
}

.navbar {
  background: rgba(0,0,0,0.4);
  color: white;
}

#mothernav {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  cursor: pointer;
  cursor: hand;
  color: white;
}

.snippetcreator {
  min-height: 500px;
}

.stretch-height {
  min-height: 500px;
}

/*textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}*/

#hide {
  visibility: hidden;
}
/*
pre#resultCode {
  color: #cc6;
  background-color: #222;
  border-color: #000;
  height: 94px;
  border-color: #f00;
  border-radius: 5px;
  padding: 10px;
}*/

.resultTitle {
  padding: 7px 0 0 0;
  margin: 0;
}

.btn-default:focus {
    background-color: #fff;
    border-color: #ccc;
    outline:0px
}
